doctype html
html(lang='en')
    head
        title Neural Network
        script(src="https://unpkg.com/brain.js@1.6.0/browser.js")
        script(src='/js/color.js')
    body
        h1 Check Console